<div class="container">
    <div class="col" style="text-align: center;">
        <h1>{{title}}</h1>
    </div>

    <button class="btn btn-primary" type="button" [routerLink]="['/form']">Add Client</button>

    <table class="table" border="1">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.id}}</td>
                <td>{{client.name}}</td>
                <td>{{client.surname}}</td>
                <td>{{client.email}}</td>
                <td>{{client.phoneNumber}}</td>
                <td> <button type="button" name="button" class="btn btn-primary"
                        [routerLink]="['/form/', client.id]">Edit</button></td>
                <td> <button type="button" name="button" class="btn btn-danger" (click)="delete(client)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>