<body>
    <div class="container">
        <div style="text-align: center;">
            <h2 style="font-weight: bold;">{{title}}</h2>
        </div>

        <table class="table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clients">
                    <td>{{client.id}}</td>
                    <td>{{client.name}}</td>
                    <td>{{client.surname}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.phoneNumber}}</td>
                    <td> <button type="button" class="primary-button" [routerLink]="['/form/', client.id]">Edit</button>
                    </td>
                    <td> <button type="button" class="danger-button" (click)="delete(client)">Delete</button></td>
                </tr>
            </tbody>
        </table>

        <div class="buttons">
            <button class="button" type="button" [routerLink]="['/form']">Add Client</button>
            <button class="button" type="button" [routerLink]="['/films']">See Films</button>
            <button class="button" type="button" (click)="logout()">Logout</button>
        </div>
    </div>
</body>