<body>
    <div class="container">
        <form #form="ngForm" (ngSubmit)="login(form)">
            <h2 style="font-weight: bold;">LOGIN</h2>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required [(ngModel)]="creds.email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required [(ngModel)]="creds.password">
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</body>