<div class="container py-5">
    <form class="mx-auto" style="max-width: 25rem;" #form="ngForm" role="form" (ngSubmit)="login(form)">
        <h2 class="mb-5 text-center">Login</h2>
        <div class="mb-3">
            <label for="email">Email: </label>
            <input type="text" id="email" name="email" required class="form-control" [(ngModel)]="creds.email">
        </div>
        <div class="mb-3">
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required class="form-control" [(ngModel)]="creds.password">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-lg btn-primary">Login</button>
        </div>
    </form>
</div>